@charset "UTF-8";

footer{ min-height: 200px; display: flex; background-color: #000;}
.footer-1{width: 100%;}
.footer-list-box{height: 100%; display: flex;justify-content: space-between; align-items: center;}
.footer-list-box .item-box ul{display: flex; padding: 0;}
.footer-list-box .item-box ul li{margin-right: 10px;}

/* 반응형 */
@media screen and (max-width:1280px) {
    .footer-1 {
        padding: 30px;
    }
}

@media screen and (max-width:560px) {
    .footer-list-box {
        flex-direction: column;
    }
}