@charset "UTF-8";

/* 좌측메뉴 시작 */
#left {
   width: 12%;
   margin-top: 30px;
   height: 100%;
   border-radius: 10px;
   margin-right: 100px;
   
}

.left_inside {
   background: #1c5c50;
   margin: 0 0 0 0;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
   width: 200px;
   height: 150px;
}

.left_menubar {
   margin-left: 5px;
   padding-left: 1rem;
   
}


.left_menubar  li  a {
   color: white !important;
   text-decoration: none;
   
}
/* 좌측메뉴 종료 */

/* 오른쪽 경기일정 시작 */
.title {
   display: flex;
   justify-content: center;
   background-color: #1c5c50;
   color: white !important;
   margin-top: 20px;
   height: 60px;
   font-weight: bold;
   line-height: 60px;
   border-radius: 10px;
}

.right_game{
   max-width: 800px;
}

/* 오른쪽 경기일정 끝 */
